@import url('https://fonts.googleapis.com/css?family=Orbitron|Raleway|Roboto&display=swap');


body {
    background-image:url(pulsewebbg.png);
    font-family: "Raleway"
}

.navbar {
    background-color: rgba(0,0,0,0.5)!important;
    color: white!important;
}

.navbar-brand img {
    height: 30px;
    width: 30px;
}

.navbar-brand {
    font-family: "Orbitron";
}

.navlink {
    color: white!important;
}
#title {
    color: white;
    font-size: 1.8rem;
}

@media (max-width: 487px) { 
    #pulselogoname {
        height: 100px;
    }
    #ecgpath {
        height: 87px;
        display: block;
        position: absolute;
        top:13px;
        
 }
 #slogan {
    font-size: 0.7em;
}
}

@media (max-width: 576px) and (min-width: 489px) { 
    #pulselogoname {
        height: 150px;
    }
    #ecgpath {
        height: 130px;
        display: block;
        position: absolute;
        top:18px;
        
 }
}
@media (min-width: 576px) { 
    #pulselogoname {
        height: 200px;
    }
    #ecgpath {
        height: 174px;
        display: block;
        position: absolute;
        top:25px;
        
 }
}




.ecgpath {
    clip-path: polygon(-5% 0, 0 0, 0 100%, -5% 100%);
}

  .animate {
    clip-path: polygon(100% 0, 105% 0, 105% 100%, 100% 100%);
    transition: 4s;
  }

.serviceicon {
    display: inline-block;
    background: #1d5170;
    height: 100px;
    width: 100px;
    vertical-align: middle;
    text-align: center;
    font-size: 5em;
    border-radius: 20px;
    color: white;
    position: relative;
    left: 20px;
    top:-50px;
    margin-bottom: -50px;
    -webkit-box-shadow: 3px 4px 22px -7px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 4px 22px -7px rgba(0,0,0,0.75);
box-shadow: 3px 4px 22px -7px rgba(0,0,0,0.75);
}
.btn-lg {
    background: #1d5170;;
    border: 1px solid rgba(255,255,255,0.5);
    color: white;

}
.btn-lg:hover {
    background: #0083b0;
    border: 1px solid rgba(255,255,255,0.5);
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.card {
    border: none;
}

.middle .card{
    background-color: #09779f;
    color: white;
}

.card-title {
    font-size: 1.5em;
}

#services {
    background:rgba(255,255,255,0.5)
}

#contactus {
    color: white;
}
#contactus .card {
 background:#09779F;
}

#contactus ul {
    list-style-type: none;
    padding-left:0px;
}

#footer {
    background:rgba(0,0,0,0.5);
    height: 45px;
    color: white;
}